.body_all{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}
.big_dev{
    height: 100%;
    width: 100%;
    position: absolute;
}
.head_dev{
    position: relative;
    height: 8%;
    width: 100%;
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
.head_company_name{
    float: left;
    height: 8%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.right_logout{
    float: right;
    height: 46px;
    padding: 15px 15px;
    display: block;
}
.left_div{
    position: absolute;
    width: 15%;
    height: 46px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.left_div1{
    position: absolute;
    margin-top: 46px;
    width: 15%;
    height: 46px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.left_a{
    float: left;
    display: block;
    background: white;
    height: 100%;
    width: 100%;
    padding: 10px 40px;
}
.content_dir{
    position: absolute;
    float: left;
    width: 85%;
    height: 92%;
    margin-left: 15%;
    background: white;
}