.body_all{
    background-color: gainsboro;
    margin: 0;
    padding: 0;

}
.big_dev{
    height: 100%;
    width: 100%;
    position: absolute;
}
.head_dev{
    position: relative;
    height: 8%;
    width: 100%;
    background: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
.head_company_name{
    float: left;
    height: 8%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.right_logout{
    float: right;
    height: 46px;
    padding: 15px 15px;
    display: block;
}
.left_div{
    position: absolute;
    width: 15%;
    height: 46px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.left_div1{
    position: absolute;
    margin-top: 46px;
    width: 15%;
    height: 46px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.left_div2{
    position: absolute;
    margin-top: 92px;
    width: 15%;
    height: 46px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.left_a{
    float: left;
    display: block;
    background: white;
    height: 100%;
    width: 100%;
    padding: 10px 40px;
}
.content_dir{
    position: absolute;
    float: left;
    width: 85%;
    height: 92%;
    margin-left: 15%;
    background: white;
}
#loading {
    position:absolute;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0.6;
}
.spinner {
    margin: 100px auto;
    margin-top: 250px;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}