<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>clx自动化运维平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

    <script type="text/JavaScript" src="/static/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="/static/js/echarts.min.js"></script>
    {% block extra-head-resources %}{% endblock %}

</head>

<body class="body_all">
<div id="loading"  style="display:none"> 
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
</div>
<div id="wrapper" class="big_dev">
    <div class="head_dev">
        <div style="float: left">
            <a class="head_company_name" style="text-decoration: none" href="{% url 'dashboard' %}">clx后台运维平台</a>
        </div>
        <div style="float: right" >
            <a class="right_logout" style="text-decoration: none" href="{% url 'logout' %}">logout</a>
        </div>
        <div style="float: right" >
            <a class="right_logout" style="text-decoration: none" href="/update_log/?all_log=all">更新代码前备份日志</a>
        </div>
        <div style="float: right" >
            <a class="right_logout" style="text-decoration: none" href="{% url 'script' %}">脚本</a>
        </div>
    </div>
        <div class="left_div">
            <a class="left_a" style="text-decoration: none" href="{% url 'dashboard' %}">docker仪表盘</a>
        </div>
        <div class="left_div1">
            <a class="left_a" style="text-decoration: none" href="{% url 'dir_log' %}">Log查询下载</a>
        </div>
        <div class="left_div2">
            <a class="left_a" style="text-decoration: none" href="{% url 'performance' %}">容器性能图表</a>
        </div>
    <div class="content_dir">
     {% block body %}
     {% endblock %}
    </div>
</div>


  {% block bottom-js %}{% endblock %}

</body>