<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>clx自动化运维平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script type="text/JavaScript" src="/static/js/jquery.min.js"></script>
    {% block extra-head-resources %}{% endblock %}
</head>

<body style="background-color: gainsboro">
    <div id="wrapper">
    <nav class="nav_head">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'dashboard' %}">clx后台运维平台</a>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="margin-right: 0;">
            <li class="dropdown">
                <a href="{% url 'logout' %}" class="logout">logout</a>
            </li>
        </ul>
        <div class="navbar-default left_content_nav" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dashboard' %}">docker仪表盘</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content_body">
        <div class="row">
             {% block body %}
             {% endblock %}
        </div>
    </div>
</div>

  {% block bottom-js %}{% endblock %}

</body>