{% extends 'base.html' %}
{% block extra-head-resources %}
<script >
$(function(){
    var len = $('table tr').length;
    for(var i = 1;i<len;i++){
        $('table tr:eq('+i+') td:first').text(i);
    }
});
</script>
{% endblock %}
{% block body %}
<table class="table table-bordered;table table-hover"style="margin-top: 10px">
    <thead>
        <tr>
            <th>Ordinal number</th>
            <th>Host Name</th>
            <th>Container Name</th>
            <th>Image Name</th>
            <th>Short Id</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for hostname,vale in docker_container_all.items %}
            {% for i in vale %}
                <tr>
                    <td>id</td>
                    <td>{{ hostname }}</td>
                    <td><a href="logs/?hostname={{ hostname }}&container_name={{ i.name }}">{{ i.name }}</a></td>
                    <td>{{ i.image }}</td>
                    <td>{{ i.short_id}}</td>
                    <td>{{ i.status }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}