{% extends 'base.html' %}
{% block body %}
<table class="table table-bordered;table table-hover" style="margin-top: 10px">
    <thead>
        <tr>
            <th>Ordinal number</th>
            <th>server Name</th>
        </tr>
    </thead>
    <tbody>
        {% for i in service_now %}
                <tr>
                    <td>id</td>
                    <td><p><a href="/dir_log/?find_name={{ i }}">{{ i }}</a></p></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}