{% extends 'base.html' %}
{% block body %}
    <div class="row" style="height: 40px;background: #d9edf7;">
        <span style="border: 1px solid red">hostanme:{{ hostname }}|container_name:{{ container_name }}</span>
        <a href="/dashboard/logs/?hostname={{ hostname }}&container_name={{ container_name }}&type=info"><input name="log_info" type="button" value="查看log_info"></a>
        <a href="/dashboard/logs/?hostname={{ hostname }}&container_name={{ container_name }}&type=error"><input name="log_error" type="button" value="查看log_error"></a>
    </div>
    <div class="row" >
        {{ logs }}
    </div>
{#    <script>#}
{#    function show_log_info() {#}
{#        document.getElementById('log_info_body').style.display='';#}
{#    }#}
{#    function show_log_error() {#}
{#        document.getElementById('log_info_body').style.display='none';#}
{#        var div = document.createElement('div').id='log_error_body';#}
{#        document.getElementById('log_error_body').className='row';#}
{#    }#}
{#    </script>#}
{% endblock %}